In [2]:
import pandas as pd

In [7]:
df_song = pd.read_json("data/song_data/A/A/A/TRAAAAW128F429D538.json",lines=True)
df_log = pd.read_json("data/log_data/2018/11/2018-11-01-events.json",lines=True)

display(df_song)
display(df_log.head(1))

,num_songs,artist_id,artist_latitude,artist_longitude,artist_location,artist_name,song_id,title,duration,year
0,1,ARD7TVE1187B99BFB1,NaN,NaN,California - LA,Casual,SOMZWCG12A8C13C480,I Didn't Mean To,218.93179,0

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1540919166796,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39

In [ ]:
songplays_create_table = ""